/*
  전역으로 공통적으로 사용하는 스타일을 지정한다.
*/
* {
  font-family: 'NanumBarunpen';
  box-sizing: border-box; // padding이 증가해도 요소 값이 커지지 않는다.
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  min-width: 300px;
}